.up-button {
  color: #1976D2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  border: 0;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &:hover {
    &:after {
      opacity: 0.3;
    }
  }

  &-text {
    font-size: 16px;
  }
}